@import "bootstrap/functions";
@import "bootstrap/variables";


.min-vh-90{
    min-height: 85vh!important;
}

.gohome-btn{
    border-radius: 0px;
    margin: 0 auto;
    display: block;

}


/// texts ///
.upper-text{
    text-transform: uppercase;
}
h1.upper-text{
    text-transform: uppercase;
}
.short-text{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 35px;;    
    color: #444444;
}

.label-text{
    font-size: 14px;
    margin-bottom: 0px;
}

.bottom-text-block{
    background: #F9F9F9;
    padding: 30px;
    // position: absolute;
    // bottom: 0px;
    // left: 0px; 
    // right: 0px;
}

.warning-text{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    color: #828282;
}



/// form ///

.wrap-input.form-control.select-row{
    padding: 0px;
}

.wrap-input.form-control.select-row .no-border {
    border-color: transparent;
}


.oxyy-login-register .hero-wrap .hero-content{
    padding-left: 88px;
}
.wrap-text-part {
    height: 100%;
    padding-top: 28%;
    /* justify-content: center; */
}

.wrap-fields{
    display: flex;
    flex-direction: columns;
    justify-content: space-between;
}

.field-50{
    width: 49%;
}


.select-row .form-control.no-border.enter-mail {
    padding: 8px 10px 10px 10px;
}


.form-group{
    margin-bottom: 10px;;
}

// Select // 
.select {
    position: relative;
    display: block;
    min-width: 85px;
    width: 100px;;
    max-width: 100px;
 }
.select-country.select {
    width: 100%;
    min-width: 100%;

}
.select__head {
    width: 100%;
    max-width: 100%;
    // box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    // border-radius: 10px;
    padding: 14px 0 15px 15px;;
    font-size: 14px;
    line-height: 18px;
    color: rgba(66, 67, 72, 0.8);
    cursor: pointer;
}

.select__head::after {
    width: 10px;
    height: 6px;
    background: #FFF url("data:image/svg+xml,%3Csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L4.5 5L8 1' stroke='black'/%3E%3C/svg%3E") no-repeat center / cover;
    position: absolute;
    right: 7px;
    bottom: 52%;
    transform: translateY(50%);
    content: '';
    display: block;
    transition: .2s ease-in;
}

.select__head.open::after {
    transform: translateY(50%) rotate(180deg);
}

.select__list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    // border-radius: 10px;
    margin-top: 5px;
    max-height: 205px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 100;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #424348;
    scrollbar-color: dark;
    scrollbar-width: thin;
    overscroll-behavior: contain;
}

.select__list::-webkit-scrollbar {
    width: 7px;
    background-color: #F8F9FA;
    padding: 5px;
}

.select__list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #D9D9D9;
}

.select__list .select__item {
    position: relative;
    border-top: 1px solid rgba(224, 229, 231, 0.5);
    padding: 10px 15px;
    cursor: pointer;
    list-style-type: none;
}

.select__list .select__item:hover {
    background-color: rgba(224, 229, 231, 0.5);
}

.select-row{
    display: flex;
    flex-direction: columns;;
    padding: 0px;
}


//   checkbox field  //
.check-wrap{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: columns;
    padding-top:10px;
}

.checkbox {
    margin-bottom: 0.2em;
}

.custom-checkbox>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    outline: none;
}

.custom-checkbox>.check-text {
    display: inline-flex;
    align-items: flex-start;
    user-select: none;
}


.custom-checkbox>.check-text::before {    
    content: '';
    margin-top: 2px;
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0px;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox>input:not(:disabled):active+.check-text::before {
    background-color: #fff;
    border-color: red;
}

.custom-checkbox>input:focus:not(:checked)+.check-text::before {
    border-color: #80bdff;
}

.custom-checkbox>input:checked+.check-text::before {
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 2.84615L3.57143 7L7 1' stroke='black'/%3E%3C/svg%3E");
}

.checkbox-text{
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: #151515;
}
.checkbox-bold{
    font-weight: 600;
}


.font-weight-600{
    font-weight: 600;
}

.privacy-link{
    color: #000;
    text-decoration: underline;
}

.privacy-link:hover{
    color: #F06E00;
}

.oxyy-login-register .text-9{
    font-size: 2rem !important;
}

.font-40{
    font-size: 40px;
    font-weight: 400;
}
.font-40-25{
    font-size: 40px;
}

.oxyy-login-register .text-light {
    color: #151515 !important;
}

// .oxyy-login-register .form-dark .form-control, .oxyy-login-register .form-dark .custom-select {
//     border-color: #232a31;
//     background: transparent;
//     color: #fff;
// }
.oxyy-login-register .form-control, .oxyy-login-register .custom-select {
    border-color: #dae1e3;
    font-size: 14px;
    color: #ABABAB;
}

.width-100{
    width: 100%;;
    border-radius: 0px;
}

.size-14{
    font-size: 14px;
}
.size-12{
    font-size: 12px;
}

div.logo img {
    max-width: 85%;
    margin-top: 5px;
    width: 164px;
}

.font-weight-400{
    font-weight: 400;;
}

.wrap-right{
    padding-top: 20px;
    // padding-left: 39px;
    padding: 0px 20px;
}


.top-30{
    margin-top: 13%;

}

div.logo img {
    max-width: 164px;
    width: 164px;
    margin-top: 5px;
}

.transform-15{
    transform: translateY(-50%);
}

.oxyy-login-register .form-control:focus, .oxyy-login-register .custom-select:focus {
     box-shadow: none;
    border-color: #ABABAB !important;
    border-radius: 0px;;
}

.oxyy-login-register .text-muted{
    color: #444444 !important;
}

.return-text{
    color: #ABABAB;
    font-size: 16px;
}

.oxyy-login-register .btn:not(.btn-link){
    box-shadow: none;
}


// errors

.alert-danger{
    color: #E51A1A;
    background-color: #F2F2F2;
    font-size: 12px;
    border-radius: 0px;
    border: none;
    margin-top:-15px!important;
}

input, .form-control{
    border-radius: 0px;
}

input:invalid{
    border: red 2px solid;
}

.error-decor{
    border: 1px solid red;
}

.error  .form-control{
    border: 1px solid red;
}


// footer block 
.disclosure-wrap{
    display: flex;
    flex-direction: columns;
    text-transform: uppercase;
    justify-content: space-between;
}
.disclosure{
    width: 38%;
}
.disclosure.disclosure-header{
    width: 10%;
    font-weight: 500;;
}

.disclosure-part{
    display: inline-block;
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 130%; 
    align-items: center;
    text-transform: uppercase;
    color: #151515;
    margin-bottom: 15px;;
}



// sucess block 

.sucess-block{
    display: none;
}

.registration-block{
    display: flex;
}



@media (max-width: 1200px){
    .wrap-right{
        padding-left: 0px;
    }
}

@media (max-width: 970px){
    .transform-15{
        transform: translateY(-25%);
    }
    .oxyy-login-register .hero-wrap .hero-content{
        padding-left: 0px;;
    }
    .wrap-right.mx-auto{
        margin-left: 0px!important;
        padding-left: 15px;

    }
    .disclosure-wrap{
        display: block;
    }
    .disclosure{
        width: 100%;
    }
    .bottom-text-block{
        padding: 30px 0px;
    }


}

@media (max-width: 670px){
    .transform-15{
        transform: translateY(0%);
    }
    div.logo img {
        max-width: 164px;
        width: 113px;
        margin-top: 0px;
    }
    .font-40 , .oxyy-login-register .text-9{
        font-size: 20px!important;
        line-height: 26px;
        margin-bottom: 62px!important;
        margin-top: 27px!important;
    }
    .logo-row{
        height: 54px;
    }
    .bottom-container.py-5{
        padding-top:0px!important;
    }
    .font-40-25{
        font-size: 25px;
        padding-top: 40px;
        padding-bottom: 9px;
    }
    .oxyy-login-register .text-light {
        font-size: 14px;
        margin-bottom: 4px;
    }
    .form-group {
        margin-bottom: 8px;
    }
    .item-margin{
        margin-bottom: 40px;
    }
    .oxyy-login-register .text-muted{
        line-height: 18px;
    }
    .new-pass{
        margin-bottom: 15px!important;
    }
    .padding-no-mobile {
        padding-left:0px;
    }
    .wrap-fields{
        flex-direction: row;;
        display: block;
    }
    .field-50 {
        width: 100%;
    }
}

